@charset "UTF-8";

/* оформление главного меню */

div#my-menu ul {
  list-style-type: none;
}

div#my-menu ul li a {
  text-decoration: none;
}

/* оформление home-screen */

main {
  background-color: #main-bg;
}

#homescreen {
  padding-left: 5px;
}

.demo-card-square.mdl-card {
  width: 100%;
}

.mdl-card__title-text {
  font-size: 14px;
}

/* ===== меню Информация === */

.mdl-card__title.mdl-card--expand {
  padding-bottom: 5px;
}

ul#info,
ul#objCard {
  margin-top: 0px;
  padding-left: 3%;
  padding-left: 1%;
  list-style-type: none;
}

.FlRight {
  width: 60%;
  text-align: left;
  overflow: hidden;
  max-height: 1.4em;
  float: right;
}

a.mdl-button {
  display: block;
  width: 20px;
  margin: 0 auto;
}

/* ===== список объектов === */

#objButtonPanel {
  display: block;
  width: 200px;
  margin: 0 auto;
}

#objButtonPanel > form {
  float: left;
}

#backtohomeObjects {
  clear: all;
}

