@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Montserrat|Shadows+Into+Light');

body {
    background-color: #c8d7d4;
}


.navbar {
    background-color: #000;
}

#brend {
    color: #FFFFFF;
}

ul {

}
.n-icon{
    font-size: 28px;
    color: #ffffff;
}

#logo-head {
    font-size: 1.7 rem;

    font-family: 'Fredoka One', cursive;

}

#logo-tail {
    font-family: 'Shadows Into Light', cursive;

}

.footer {
    position: fixed;
    left:0px;
    bottom:0px;
    padding-top: 1vh;
    font-size: 0.7rem;
    margin-left: -0px;
    width:100vw;
    height: 6vh;
    background-color:#27282d ;
    color:#ececec;
}
