body {
  background-color: #c8d7d4;
}

.navbar {
  background-color: #879999;
}

#brend {
  color: #FFFFFF;
}

span.n-icon {
  font-size: 28px;
  color: #FFFFFF;
}

#logo-head {
  font-size: 1.7rem;
  font-size-font-family: "Fredoka One", cursive;
}

#logo-tail {
  font-family: "Shadows Into Light", cursive;
}

.footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  padding-top: 1vh;
  font-size: 0.7rem;
  margin-left: -0px;
  width: 100vw;
  height: 6vh;
  background-color: #27282d;
  color: #ececec;
}

