@import "_var.sass"
@import url("https://fonts.googleapis.com/icon?family=Material+Icons")

/* оформление главного меню */
div#my-menu
  ul
    list-style-type: none

  ul
    li
      a
        text-decoration: none
            
/* оформление home-screen */

main 
  background-color: #main-bg
#homescreen
  padding-left: 5px
  

.demo-card-square.mdl-card
  width: 100%

.mdl-card__title-text
  font-size: 14px 

/* ===== меню Информация === */
.mdl-card__title.mdl-card--expand
  padding-bottom: 5px

ul#info, ul#objCard
  margin-top: 0px
  padding-left: 3%
  padding-left: 1%
  list-style-type: none

.FlRight  
  width: 60%
  text-align: left
  overflow: hidden
  max-height: 1.4em
  float: right

a.mdl-button
  display: block
  width: 20px
  margin: 0 auto

/* ===== список объектов === */
#objButtonPanel
  display: block
  width: 200px
  margin: 0 auto

#objButtonPanel>form
  float: left

#backtohomeObjects
  clear: all

#objectListWrapper 
  overflow-y: scroll
  padding-right: 5px
  padding-left: 5px

div#objectListWrapper>div.objListCard
  padding-top: 55px // не работает нужно искать причину
  width: 90%
  margin: 0 auto

/* ===== редактировать объект  === */

#addObjectButton
  z-index: 100
  position: fixed
  right: 10px
  top: 70px

#backButton
  z-index: 100
  position: fixed
  right: 10px
  top: 150px

div.editObjectCard 
  margin-top: 40px
  width: 90%
  margin: 0 auto


#editObjectButton
  z-index: 100
  position: fixed
  right: 10px
  top: 70px
