@import "_var.sass"
@import url("https://fonts.googleapis.com/icon?family=Material+Icons")
.std-card-square 
  width: 90%
  margin: 0 auto

.text-justify
  display: block
  text-align: justify


/* оформление главного меню */
div#my-menu
  ul
    list-style-type: none

  ul
    li
      a
        text-decoration: none
            
/* оформление home-screen */

.center
  margin: auto 

.mdl-card__supporting-text
  text-align: center

main 
  background-color: #main-bg
#homescreen
  padding-left: 5px
  

.demo-card-square.mdl-card
  width: 100%

.mdl-card__title-text
  font-size: 14px 

/* ===== меню Информация === */
.mdl-card__title.mdl-card--expand
  padding-bottom: 5px

ul#info, ul#objCard
  margin-top: 0px
  padding-left: 3%
  padding-left: 1%
  list-style-type: none

.FlRight  
  width: 60%
  text-align: left
  overflow: hidden
  max-height: 1.4em
  float: right

a.mdl-button
  display: block
  width: 20px
  margin: 0 auto

/* ===== список объектов === */
#objButtonPanel
  display: block
  width: 200px
  margin: 0 auto

#objButtonPanel>form
  float: left

#backtohomeObjects
  clear: all

#objectListWrapper 
  overflow-y: scroll
  padding-right: 5px
  padding-left: 5px

div#objectListWrapper>div.objListCard
  width: 90%
  margin: 0 auto

#link-button
  margin: 5px

/* ===== редактировать объект  === */

#addObjectButton, #bAddQuestion
  z-index: 100
  position: fixed
  right: 40px
  top: 70px

button.backButton
  z-index: 200
  position: fixed
  right: 40px
  top: 140px

div.editObjectCard 
  margin-top: 40px
  width: 90%
  margin: 0 auto


#editObjectButton
  z-index: 100
  position: fixed
  right: 40px
  top: 70px

.swch-in-setting
  width: 50%
  float: left


/* ===== удалить объект  === */
#subbmitDell
  width: 80%
  margin: 0 auto

button.bSave
  color: #FE4382 
  z-index: 100
  position: fixed
  right: 40px
  top: 210px

.buffer
  height: 20px

/* ===== fb  === */
.fbRight
  padding: 0px
  list-style-type: none
  width: 40%
  float: right

.fbLeft
  float: left
  padding-left: 30px
  list-style-type: none
  width: 40%

/* ===== добавить объект  === */
.add-wrapper
  overflow-y: scroll


/* ===== спиcок постеров  === */
.post-prev
  width: 90%

/* ===== изменить настройки  === */
.overflow-y-scroll
  overflow-y: scroll
label.mdl-switch
  margin-top: 20px

.setting-wrapper
  margin-bottom: 50px

